.transition-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: 100;
  pointer-events: none;
}

.transition-row {
  display: flex;
  flex: 1;
}

.transition-row.row-1 .block {
  transform-origin: top;
}

.transition-row.row-2 .block {
  transform-origin: bottom;
}

.block {
  flex: 1;
  background-color: #030212;
  transform: scaleY(1);
  will-change: transform;
}
